<div class="page-content">
  <hr>
  <a href="/tour-pics/tour-pic-1.jpg" data-lightbox="tour-pics">
    <%= image_tag('/tour-pics/tour-pic-1.jpg', class: "tour-pics") %>
  </a>
  <a href="/tour-pics/tour-pic-2.jpg" data-lightbox="tour-pics">
    <%= image_tag('/tour-pics/tour-pic-2.jpg', class: "tour-pics") %>
  </a>
  <a href="/tour-pics/tour-pic-3.jpg" data-lightbox="tour-pics">
    <%= image_tag('/tour-pics/tour-pic-3.jpg', class: "tour-pics") %>
  </a>
  <a href="/tour-pics/tour-pic-4.jpg" data-lightbox="tour-pics">
    <%= image_tag('/tour-pics/tour-pic-4.jpg', class: "tour-pics") %>
  </a>
  <a href="/tour-pics/tour-pic-5.jpg" data-lightbox="tour-pics">
    <%= image_tag('/tour-pics/tour-pic-5.jpg', class: "tour-pics") %>
  </a>
  <a href="/tour-pics/tour-pic-6.jpg" data-lightbox="tour-pics">
    <%= image_tag('/tour-pics/tour-pic-6.jpg', class: "tour-pics") %>
  </a>
</div>

