<!DOCTYPE html>
<html>
<head>
  <title>GrowingSprouts</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='head-nav'>
    <div id='nav-container'>
      <ul id='nav-links'>
        <li><a href="/">Growing Sprouts</a></li>
        <li><a href="/tour">Tour</a></li>
        <li><a href="#">Childcare</a></li>
        <li><a href="#">Rates</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>